textarea {
  width: 100%;
  min-height: 30rem;
}

.detailReport__div {
  width: 100%;
  height: auto;
  white-space: break-spaces;
  word-wrap: break-word;
}

.detailReport__td_content {
  vertical-align: top !important;
}

.detail-report__col-1 {
  width: 50%;
}