.mypage__sub_wrap {
  padding: 0.5rem 0;
  background-color: #fff;
}

.mypage__pw_wrap {
  padding: 0.8rem 0;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.mypage__pw_title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}